.side-ber
  -if user_signed_in?
    .user_nav-grid-6
      = link_to "マイページ(#{current_user.nickname})", user_path(current_user.id), class: 'myname'
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "out"
  -else
    .gird-6
      = link_to "ログイン", new_user_session_path, class: "post"
      = link_to "新規登録", new_user_registration_path, class: "post"

  -if @categorys.present?
    %ul.category-selection
      %p.category-nal みんなの質問カテゴリー
      =link_to "全て", "/", class: "category-min" 
      -@categorys.each do |category|
        =link_to "#{category.name}", category_path(category.id), class: "category-min" 