.megami
.form
  =form_for '@question', url: { :controller => :questions, :action => :create } do |f|
    .form__input
      = f.label '解決したいこと', class: 'sss'
      = f.text_area :title, class: 'form-message', placeholder: '入力してください', size: "100x5"
    .form__input
      = f.label '自分で調べた内容', class: 'sss'
      = f.text_area :body, class: 'form-message', placeholder: '入力してください', size: "100x5"
    .form__input
      = f.label '仮説と検証作業の結果', class: 'sss'
      = f.text_area :result, class: 'form-message', placeholder: '入力してください', size: "100x5"
    .form__category
      = f.label 'カテゴリー'
      = f.collection_select :category_id, @categorys, :id, :name, class: 'cate'
    = f.submit '質問する!!', class: 'submit-btn'