.content
  =form_for '@question', url: { :controller => :questions, :action => :create } do |f|
    .form__input
      = f.text_area :title, class: 'form-message', placeholder: '入力してください', size: "100x5"
    .form__input
      = f.text_area :body, class: 'form-message', placeholder: '入力してください', size: "100x5"
    .form__input
      = f.text_area :result, class: 'form-message', placeholder: '入力してください', size: "100x5"
    .form__category
      = f.collection_select :name, @categorys, :id, :name, :include_blank => true
    = f.submit '質問する!!', class: 'submit-btn'