!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tennokoe
    = csrf_meta_tags
    = csp_meta_tag
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "js/bootstrap.min.js"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/


  %body
    %header
      %a{ :href => "/"}
        %h1 \^∆^/ｵﾜﾀ~ ~ ~ ~ ~ 天の声に助けを求める ~ ~ ~ ~ ~\^∆^/ﾀｽｹﾃ!!
    = yield
    =render partial: "questions/side-ber"
